* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    position: relative;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    padding: 80px 20px 20px;
    scroll-margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* centrado vertical */
    align-items: center;
    /* centrado horizontal */
    text-align: center;
}


#navbar-scrollspy {
    background-color: #edf2f4;
}

.nav-link.active {
    color: #f0c808 !important;

}